.reveal {
  section {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: left;

    &[data-center="true"] {
      text-align: center;
      align-items: center;
      justify-content: center;
      // !important to override display: block from framework shifting slides
      display: flex !important;

      div {
        max-width: 80%;
      }
    }
  }

  pre code {
    font-family: 'Input Mono', monospace;
  }

  .double-col {
    -webkit-column-count: 2;
    -webkit-column-gap: 4em;
    column-count: 2;
    column-gap: 4em;
  }

  .triple-col {
    -webkit-column-count: 3;
    -webkit-column-gap: 3em;
    column-count: 3;
    column-gap: 4em;
  }

  li.highlight {
    background: $secondaryColor;
  }
}

.emoji {
  // !important to fix font-weight killing emoji in chrome
  font-weight: 500 !important;
}

footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  line-height: 1.5;
  font-size: 1.5em;
  color: white;
  font-family: $mainFont;
  list-style: none;
}

.center {
  text-align: center;
  display: block;
  margin: 0 auto;
}

button {
  transition: .5s;
  font-family: $mainFont;
  font-size: .5em;
  color: $accentColor;
  border: 2px solid $accentColor;
  outline: 0;
  padding: .5em 1em;
  background: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $accentColor;
    color: $backgroundColor;
  }
}

.btn--overlap {
  margin: 2em auto;
  display: block;
  clear: both;
  margin-top: 15em;
}
