.reveal {
  section {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: left;

    &[data-center="true"] {
      text-align: center;
      align-items: center;
      justify-content: center;
      // !important to override display: block from framework shifting slides
      display: flex !important;
    }
  }

  pre code {
    font-family: 'Input Mono', monospace;
  }
}

.code-editor {
  width: 50%;
  display: block;
  font-size: .5em;
  float: right;
  outline: 1px solid dimgray;
  text-align: left;
  background: #FFF;
  color: #444;
  line-height: 1.25;
  white-space: pre-wrap;
  font-family: 'Input Mono', monospace;

  &:focus {
    outline: 0;
  }
}

.emoji {
  // !important to fix font-weight killing emoji in chrome
  font-weight: 500 !important;
}
