.code-editor,
.code-editor--full {
  width: 90%;
  display: block;
  font-size: .7em;
  float: right;
  outline: 1px solid dimgray;
  text-align: left;
  background: #FFF;
  color: #444;
  line-height: 1.25;
  white-space: pre-wrap;
  font-family: 'Input Mono', monospace;
  margin-right: 5%;

  &:focus {
    outline: 0;
  }
}

.style-box-area {
  width: 50%;
  float: right;
}

.code-editor--full {
  width: 100%;
  margin: 0 auto;
  font-size: .8em;
}

.reveal {

  .img-area {
    position: relative;
    width: 45%;
    float: left;
  }

  .code-editor {
    margin-right: 2em;
  }


  .code-area--full {
    width: 80%;
    margin: 2em auto;
  }

  .instagram {
    .img-area {
      width: 60%;
      margin-right: -4em;

      div {
        width: 45%;
        margin-left: .2em;
        float: left;
      }

      .caption {
        text-align: center;
      }
    }

    .code-editor {
      width: 100%;
    }

    .insta-orig {
      background-image: url('../../resources/instagram/00_original.JPG');
      background-size: cover;
      display: block;
      width: 95%;
      height: 330px;
      margin: 15px 0 1.2em;
      border: 4px solid white;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
