.reveal {

  .img-area {
    position: relative;
    width: 50%;
    float: left;
  }

  .code-editor {
    margin: 0 1em;
  }

  .instagram {
    .img-area {
      width: 60%;
      margin-right: 0;

      div {
        width: 45%;
        margin: 0 2.5%;
        float: left;
      }

      .caption {
        text-align: center;
      }
    }

    .code-editor {
      width: 38%;
      margin-left: 0;
    }

    .insta-orig {
      background-image: url('../../resources/instagram/00_original.JPG');
      background-size: cover;
      display: block;
      width: 95%;
      height: 330px;
      margin: 15px 0 1.2em;
      border: 4px solid white;
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
