.hue-rotate,
.edit--darken,
.edit--lighten,
.edit--comparative,
.edit--contrast,
.edit--composite {
  .images {
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    margin: 20px auto;
  }

  .images div {
    position: absolute;
    width: 400px;
    transition: transform 1.5s ease-in-out;

    &.background {
      transform: translate(-100px, -100px)
    }

    &.active {
      transform: translate(120px, 120px)
    }
  }

  & [data-state="overlap"] .background {
      transform: translate(-20px, -20px) !important;
    }

  & [data-state="overlap"] .active {
      transform: translate(20px, 20px) !important;
  }
}
