.tombstone {
  $tomb-width: 600px;
  display: block;
  width: $tomb-width;
  height: $tomb-width*1.5;
  background: #7e7e7e;
  -webkit-clip-path: polygon(4% 5%, 112% 0%, 76% 85%, 30% 80%);
          clip-path: polygon(4% 5%, 112% 0%, 76% 85%, 30% 80%);
  position: relative;
  transform: traslateY(100%);

  .present & {
    animation: rise 2s ease-in forwards;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: lightgrey;
    box-shadow: inset 220px 110px 125px 0px white;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(14% 10%, 101% -4%, 76% 85%, 30% 80%);
            clip-path: polygon(14% 10%, 101% -4%, 76% 85%, 30% 80%);
  }

  &:after {
    content: '#PSisDead';
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 2em;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: 600;
    color: rgba(100, 100, 100, .6);
    text-shadow: 1px 4px 6px lightgrey, 0 0 0 #000, 1px 4px 6px lightgrey;
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
