.tombstone {
  background: url('../../resources/etc/blank-tombstone.jpg');
  background-size: cover;
  width: 800px;
  height: 500px;
  perspective: 500px;
  opacity: 0;

  .present & {
    animation: rise 2s ease-in forwards;
    }

  &:after {
    content: '#PSisDead';
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 2.8em;
    transform: rotateX(-10deg); //rotate for perspective
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
    width: 100%;
    font-weight: 600;
    color: rgba(100, 100, 100, .6);
    text-shadow: 1px 4px 6px lightgrey, 0 0 0 #000, 1px 4px 6px lightgrey;
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
      opacity: 0;
  }
  to {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
      opacity: 1;
  }
}

.grad-border {
  border: 10px solid transparent !important;
  // -moz-border-image: -moz-linear-gradient(top right, #FC913A 0%, #FF4E50 100%);
  // -webkit-border-image: -webkit-linear-gradient(top right, #FC913A 0%, #FF4E50 100%);
  border-image: linear-gradient(to bottom left, #FC913A 0%, #FF4E50 100%) !important;
  border-image-slice: 1 !important;
}
