.tombstone {
  background: url('../../resources/etc/blank-tombstone.jpg');
  background-size: cover;
  width: 900px;
  height: 600px;
  perspective: 500px;
  opacity: 0;

  .present & {
    animation: rise 2s ease-in forwards;
    }

  &:after {
    content: 'Photoshop';
    position: absolute;
    font-size: 2em;
    text-align: center;
    top: 2.8em;
    transform: rotateX(-10deg); //rotate for perspective
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
    width: 100%;
    font-weight: 600;
    color: rgba(100, 100, 100, .6);
    text-shadow: 1px 4px 6px lightgrey, 0 0 0 #000, 1px 4px 6px lightgrey;
  }
}

@keyframes rise {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
      opacity: 0;
  }
  to {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
      opacity: 1;
  }
}

.grad-border {
  border: 10px solid transparent !important;
  // -moz-border-image: -moz-linear-gradient(top right, #FC913A 0%, #FF4E50 100%);
  // -webkit-border-image: -webkit-linear-gradient(top right, #FC913A 0%, #FF4E50 100%);
  border-image: linear-gradient(to bottom left, #FC913A 0%, #FF4E50 100%) !important;
  border-image-slice: 1 !important;
}

@keyframes rotater {
  from {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

.hello-coaster:hover {
  animation: rotater 1s infinite cubic-bezier(.62,-1.07,.35,1.92) alternate;
}

.background-image {
  background-image: url('../../resources/blend-modes/bologna.jpg');
  background-size: cover;
}

.rainbow-awesome {
  font-size: 4em !important;
  background-image:-webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color: transparent !important;
  background-clip: text;
  -webkit-background-clip: text;

  &:hover {
    animation: hue-rotate 2s linear infinite;
  }
}

.makeitbig {
  font-size: 100px;
  position: absolute;
  bottom: 20%;
  z-index: 3;
  left: 40%;
}

.active:after {
  content: 'Active Layer';
  position: absolute;
  bottom: -1em;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  text-align: center;
}
