%highlighters {
  background: $accentColor;
  mix-blend-mode: multiply;
  display: block;
  position: absolute;
  opacity: .8 !important; //overrides "fragment view" opacity
}

.trenitalia-highlight-1 {
  @extend %highlighters;
  width: 540px;
  top: 30px;
  left: 10px;
  height: 50px;
}

.trenitalia-highlight-2 {
  @extend %highlighters;
  width: 520px;
  height: 360px;
  top: 210px;
  right: 240px;
}

.ps-loader-highlight {
  @extend %highlighters;
  width: 470px;
  height: 140px;
  top: 290px;
  left: 390px;
}

.emoji--knife {
  position: absolute;
  right: 0;
  left: 420px;
  text-align: center;
  top: 35px;
  bottom: 0;
  width: 370px;
  height: 400px;
  background-image: url('../../resources/emoji/knife.png');
  background-size: cover;
}
